<app-header></app-header>
<div class="h-screen" style="background: url('/bg-main.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
  <div class="h-screen flex justify-center">
    <div class="p-10 w-8/12 text-white bg-gray-600 bg-opacity-25 h-fit mt-12 rounded shadow">
      <p class="text-6xl mb-6">
        Lorem ipsum
      </p>
      <hr/>
      <p class="py-6">
        Cras id felis sit amet tortor rutrum porttitor. Ut vestibulum vel quam a convallis. In quis massa vel nisl dapibus lobortis ac non ligula. Pellentesque nulla leo, ultricies eu elementum a, semper vitae diam. Nulla volutpat, nisl sed lacinia lobortis, tellus ipsum pharetra ante, vel eleifend dolor quam in velit. Morbi auctor dignissim ex id accumsan. Morbi porta, elit at pulvinar congue, risus tortor malesuada tellus, vitae faucibus eros mi vitae sem. Morbi vitae erat laoreet, ultricies urna vitae, convallis lorem. Nunc ac tellus ultricies, lacinia ipsum a, tristique dolor.
      </p>
      <p class="py-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales lacus vitae tellus eleifend consectetur. Suspendisse potenti. Proin vitae quam non metus varius ullamcorper ut a lorem. Cras facilisis quis arcu sed sagittis. Vestibulum tempor leo et purus mollis placerat. Nam quis urna pulvinar, rhoncus augue sagittis, aliquam ante. Integer sit amet massa non ipsum malesuada maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam semper at justo id pretium. Proin eu consequat mi. In volutpat enim sit amet ex laoreet, sit amet egestas urna aliquet. Phasellus nibh urna, sagittis ut lacus sed, lobortis iaculis neque. Pellentesque luctus dui in nibh molestie semper. Duis volutpat libero ac purus aliquet, nec congue nulla dictum.
      </p>
      <hr/>
      <div class="w-full text-center mt-6">
        <button (click)="onClickGetStarted()" class="bg-teal-600 py-4 px-6 rounded shadow">Getting Started</button>
        <a></a>
      </div>
    </div>
  </div>
</div>
